body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

form.form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

form.form input[type="text"] {
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
    font-size: 1.2em;
}

form.form button[type="submit"] {
    padding: 10px 20px;
    background-color: #1da1f2;
    border: none;
    color: #fff;
    font-size: 1.2em;
    border-radius: 5px;
    cursor: pointer;
}

hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 20px 0;
}

img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    float: left;
}

p {
    margin: 0;
    font-size: 1.2em;
}

form.form button[type="submit"],
form button[type="submit"] {
    cursor: pointer;
}

form button[type="submit"] {
    padding: 5px;
    background-color: #fff;
    border: none;
    color: #1da1f2;
    font-size: 0.8em;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 60px;
    cursor: pointer;
}
